{
    "extends": "@flypeng",
    "rules": {
        "no-undef": "off",
        "global-require": "off",
        "@typescript-eslint/no-explicit-any": "off",
        "no-labels": "off", 
        "no-restricted-syntax": "off", 
        "no-unused-labels": "off" 
    }
}